# Блок №1

# Задание 1
___
Начнём с простого: сохраните в переменную `age` произвольный возраст, выраженный целым числом, а в переменную `name` – какое-нибудь имя в виде строки.

Ответ:

In [2]:
age, name = 12, 'Andrey'

# Задание 2
___
Создайте список `user_info`, содержащий 4 элемента в следующем порядке:

+ 2 строки (имя и фамилия пользователя)
+ 1 дробное число (зарплата)
+ 1 целое число (стаж)

Ответ:

In [3]:
user_info = ['Andey', 'Stam', 120.0, 150]

# Задание 3
___
Поместите в переменную `first` первый (т.е. нулевой) элемент из списка `salaries`.

Сам список создавать не нужно, он уже находится в переменной `salaries`.

Ответ:
```
first = salaries[0]
```

# Задание 4
___
Добавьте в уже созданный список `users` элементы 'Voronov' и 42.

Сам список создавать не нужно, он уже находится в переменной `users`.

Ответ:
```
users.extend(['Voronov', 42])
```

# Задание 5
___
В переменной `user_ages` содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

Сам список создавать не нужно, он уже находится в переменной `user_ages`.

Пример данных, которые могут быть в `user_age`:
```
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]
```

In [4]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [5]:
print(*[i for i in user_ages if i > 18], sep='\n')

21
35
42
27

# Задание 6
___
Напишите программу, проверяющую стаж работы сотрудника. В переменной `worker` уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную `status` следующую строку:
```
user_name user_family is position
```
где `user_name` и `user_family` — имя и фамилия сотрудника, а `position` — одно из следующих значений:

+ 'junior' — стаж меньше 2 лет
+ 'middle' — стаж больше либо равен 2 лет
+ 'senior' — стаж больше 5 лет 

Пример данных, которые могут быть в `worker`:
```
worker = ['Olya', 'Silyutina', 350000, 3]
```

In [6]:
worker = ['Olya', 'Silyutina', 350000, 3]

In [7]:
if worker[3] < 2:
    position = 'junior'
elif 2 <= worker[3] <= 5:
    position = 'middle'
else:
    position = 'senior'

In [8]:
status = f'{worker[0]} {worker[1]} is {position}'

In [9]:
status

'Olya Silyutina is middle'

# Задание 7
___
В списке `values` содержатся числовые значения. Создайте список `tens` и добавьте в него все числа из `values`, которые делятся на 10 нацело.

Пример данных, которые могут быть в `values`:
```
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
```

In [10]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [11]:
tens = [num for num in values if not (num % 10)]

In [12]:
tens

[10, 100, 20, 50, 160, 210]

# Задание 8
___
Реализуйте цикл, который пробегается по уже созданному списку `workers` со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):
```
user_name user_family is position
```
где `user_name` и `user_family` — имя и фамилия сотрудника, а `position` — одна из следующих строк:

+ 'junior' — стаж меньше 2 лет
+ 'middle' — стаж больше либо равен 2
+ 'senior' — стаж строго больше 5 лет 

Пример данных, которые могут быть в workers:
```
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]
```

In [13]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [14]:
for worker in workers:
    if worker[3] < 2:
        position = 'junior'
    elif 2 <= worker[3] <= 5:
        position = 'middle'
    else:
        position = 'senior'
    print(f'{worker[0]} {worker[1]} is {position}')

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

# Задание 9
___
Поместите в список `lst` числа от 0 (`n = 0`) до 10 включительно (`N = 10`) c шагом 2 (`dn = 2`). Для этого используйте условие `while`.

In [15]:
lst = [i for i in range(0, 11, 2)]

In [16]:
lst

[0, 2, 4, 6, 8, 10]