# Блок №2 минипроект

Прежде чем приступим, немного общей информации о минипроектах. В них вам даются данные и ряд вопросов разной сложности. Работайте с ними как вам удобнее. Один из вариантов – анализировать на JupyterHub, другой – у себя локально в Jupyter. Датасеты доступны по ссылкам на Яндекс Диск и на JupyterHub в папке `/shared/homeworks/python_ds_miniprojects`.
В частности датасет для этого минипроекта расположен в папке `/shared/homeworks/python_ds_miniprojects/2`

В первом мини-проекте вам предстоит проанализировать [данные](https://disk.yandex.ru/d/OzaUNarkTYbF_Q) о бронировании отелей. Чуть ниже вы можете ознакомиться со списком вопросов и описанием данных. Для удобства проверки, далее задачи разбиты на стэпы. В некоторых из них также можно встретить небольшие подсказки.

 

# Задачи
1) Импортируйте библиотеку `pandas` как `pd`. Загрузите датасет `bookings.csv` с разделителем ;. Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные. \
2) Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания. \
3) Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5. \
4) На сколько ночей в среднем бронируют отели разных типов? \
5) Иногда тип номера, полученного клиентом (`assigned_room_type`), отличается от изначально забронированного (`reserved_room_type`). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете? \
6) Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов \
7) Посмотрите на числовые характеристики трёх переменных: `adults`, `children` и `babies`. Какая из них имеет наибольшее среднее значение? \
8) Создайте колонку `total_kids`, объединив `children` и `babies`. Для отелей какого типа среднее значение переменной оказалось наибольшим? \
9) Создайте переменную `has_kids`, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (`total_kids`), в противном случае – False. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.
 

# Описание данных
Имеются следующие переменные:

+ Hotel – тип отеля (City Hotel или Resort Hotel)  
+ Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
+ Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
+ Arrival full date – полная дата прибытия
+ Arrival date year – год прибытия  
+ Arrival date month – месяц прибытия  
+ Arrival date week number – номер недели прибытия
+ Arrival date day of month – день прибытия
+ Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
+ Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
+ Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
+ Adults – число взрослых
+ Children – число детей
+ Babies – число младенцев 
+ Meal – выбранный тип питания
+ Country – страна происхождения клиента
+ Reserved room type – тип зарезервированного номера
+ Assigned room type – тип полученного номера (может отличаться от забронированного)
+ Customer type – тип бронирования
+ Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
+ Reservation status date – дата обновления статуса

# Задание 1
___
Импортируйте библиотеку `pandas` как `pd`. Прочитайте датасет `bookings.csv` с разделителем `;`. Ссылка на датасет находится в переменной `path_to_file`.

Сохраните прочитанный датасет в `bookings`.

Затем запишите первые 7 строк в переменную `bookings_head`.

In [1]:
import pandas as pd

In [2]:
path_to_file = '/home/jupyter-a.stamati-16/shared/homeworks/python_ds_miniprojects/2/bookings.csv'

In [3]:
bookings = pd.read_csv(path_to_file, sep=';')

In [4]:
bookings_head = bookings.head(7)

# Задание 2
___
Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [5]:
bookings.shape[1]

21

# Задание 3
___
К какому типу относится большинство переменных?

In [6]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

# Задание 4
___
Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. \
Например: `Is Canceled` -> `is_canceled`

In [9]:
# Заменим названия колонок используя lambda-функцию
bookings.rename(columns=lambda name_columns: name_columns.strip().lower().replace(' ', '_'), inplace=True)

In [10]:
# Посмотрим на результат
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

# Задание 5
___
Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная `is_canceled`). В качестве ответа выберите страны, входящие в топ-5.

In [11]:
bookings.query('is_canceled == 0') \
    .country \
    .value_counts() \
    .head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

# Задание 6
___
На сколько ночей (`stays_total_nights`)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [14]:
# Выясним среднее число ночей бронирования отеля типа Resort Hotel
bookings.query('hotel == "Resort Hotel"').stays_total_nights.mean().round(2)

4.32

In [12]:
# Выясним среднее число ночей бронирования отеля типа City Hotel
bookings.query('hotel == "City Hotel"').stays_total_nights.mean().round(2)

2.98

In [13]:
# Можно найти ответ на задачу используя группировку по типу отеля
bookings.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

# Задание 7
___
Иногда тип номера, полученного клиентом (`assigned_room_type`), отличается от изначально забронированного (`reserved_room_type`). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [14]:
# Отберем нужные данные и найдем количество
bookings.query('reserved_room_type != assigned_room_type').shape[0]

14917

# Задание 8
___
Теперь проанализируйте даты запланированного прибытия (`arrival_date_year`).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [15]:
# Найдем количество бронирований на каждый месяц в 2016 году
bookings.query('arrival_date_year == 2016') \
    .arrival_date_month \
    .value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [20]:
# Найдем количество бронирований на каждый месяц в 2017 году
bookings.query('arrival_date_year == 2017') \
    .arrival_date_month \
    .value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

Ответ:
```
В 2017 чаще всего оформляли бронирование на май
В 2016 чаще всего бронировали отель на октябрь

```

In [ ]:
# Если нужны общие данные по всем года и месяца, можно посмотреть в этом запросе
# bookings.groupby(['arrival_date_year', 'arrival_date_month'], as_index=False).agg({'arrival_date_day_of_month': 'count'}) \
#     .sort_values('arrival_date_day_of_month', ascending=False)

# Задание 9
___
Сгруппируйте данные по годам, а затем проверьте, на какой месяц (`arrival_date_month`) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод `groupby`, после чего выберите нужную колонку для дальнейших действий. \
Например:
```
df.groupby('column_1')['column_2'].what_to_do()
```

In [21]:
bookings.query('hotel == "City Hotel" and is_canceled == 1') \
    .groupby('arrival_date_year') \
    .arrival_date_month \
    .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

Ответ:
```
2015 -> September
2016 -> October
2017 -> May
```

# Задание 10
___
Посмотрите на числовые характеристики трёх колонок: `adults`, `children` и `babies`. Какая из них имеет наибольшее среднее значение?

In [18]:
# Посмотри на среднее значение в колонках
bookings[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [19]:
# Выберем колонку с максимальным значение
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

# Задание 11
___
Создайте колонку `total_kids`, объединив столбцы `children` и `babies`. Для отелей какого типа среднее значение переменной оказалось наибольшим?

+ City hotel – отель находится в городе
+ Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее `total_kids`, округлив до 2 знаков после точки.

In [20]:
# Сохдадим колонку total_kids
bookings['total_kids'] = bookings.children + bookings.babies

In [22]:
# Посмотрим на результат
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0

In [27]:
# Посмотрим на среднее количество детей для каждого типа отелей
bookings.groupby(['hotel']).agg({'total_kids': 'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [23]:
# В качестве ответа выберем максимальное значение среднего количесва детей и округлим до 2 знаков 
bookings.groupby(['hotel']).agg({'total_kids': 'mean'}).max().round(2)

total_kids    0.14
dtype: float64

# Задание 12
___
Не все бронирования завершились успешно (`is_canceled`), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

**Churn rate** (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. 

Создайте переменную `has_kids`, которая принимает значение `True`, если клиент при бронировании указал хотя бы одного ребенка (`total_kids`), в противном случае – `False`. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки.

In [24]:
# Создадим колонку has_kids, показывающу, указан ли ребен при бронировании
bookings['has_kids'] = bookings.total_kids >= 1

In [25]:
# Посмотрим на результат
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False

In [27]:
# Сгруппируем данные по созданной колонке и посчитаем среднее количество отмен
# Дополнительно округлим данные до 2-х знаком после запятой
# Домножим 100 для получения доли

bookings_churn_rate = bookings \
                            .groupby(['has_kids']) \
                            .agg({'is_canceled': 'mean'}) \
                            .round(4) \
                            .mul(100)

In [28]:
# Посмотрим на результат
bookings_churn_rate

          is_canceled
has_kids
False           37.22
True            34.92

In [31]:
# Получим наибольший % оттока для ответа
bookings_churn_rate.is_canceled.max()

37.22