# Блок №1

# Задание 1
___
Загрузите данные из Google Sheets, которые находятся по этой [ссылке](https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv) при помощи библиотеки requests. Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

Воспользуйтесь этим кодом, чтобы перевести данные из реквеста в пандас
```
from io import BytesIO
import requests


req = requests.get(your_link)
data = req.content

df = pd.read_csv(BytesIO(data))
```

In [4]:
# Импорт библиотек
import pandas as pd
import numpy as np

from io import BytesIO #позволяет читать данные в байтовом формате
import requests

In [7]:
# Ссылка на данные в Google Sheets
url_1 = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vRN2uepfq_EOKF7LH53x3wL8McStkF0NvFDIARP-GbteTt0CV7DEaXLvFr1_88OCX0kjsYhTYicxOHh/pub?output=csv'

In [8]:
# Получение данных по ссылку
req = requests.get(url_1)
data = req.content

In [9]:
# Загрузка данных в pandas
df = pd.read_csv(BytesIO(data))

In [10]:
# Просмотр результатов
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [11]:
# Посчитаем процент мужчин среди всех посетителей сайта
df.users.div(df.users.sum()).mul(100).round().loc[1]

41.0

In [24]:
# text = req.text.splitlines()
# text

# header = text[0]
# content = text[1:]

# header = header.split(',')
# content = [row.split(',') for row in content]

# pd.DataFrame(content, columns=header)

In [23]:
# pd.read_csv(url)

# Задание 2
___
Скачайте файл с данными посещаемости сайта Яндекс.Метрика [отсюда](https://disk.yandex.ru/d/qH-LlUdvr9ZIKg) (сохранен в переменную `df`). При помощи функции `np.wher`e создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную `chrome_robots`.

In [12]:
url_2 = 'https://stepik.org/media/attachments/lesson/361619/karpov_courses_test.csv'

In [13]:
df_2 = pd.read_csv(url_2)

In [14]:
df_2.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [15]:
chrome_robots = np.where((df_2.user_type == 'Robots') & (df_2.browser.str.contains('Chrome')), 1, 0)
chrome_robots = pd.Series(chrome_robots)

In [16]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

In [56]:
# Способ замены значений в колонке по ключу в словаре
# correspondance = {'People': 'Humans',
#                  'Robots' : 'Bots'}

# df_2.user_type.map(correspondance)

# Задание 3
___
У вас есть [датасет](https://stepik.org/media/attachments/lesson/361619/sample_ads.csv) по ссылке с данными о кликах и показах по объявлению, в этом датасете есть пропуски. Вычислите количество строк без пропусков в колонке `click_type`. Запишите ответ в переменную `not_nan_count`

+ `ad_id` - id объявления
+ `user_id` - id пользователя
+ `click_type` - тип клика (клик по заголовку объявления, клик по центру)

In [18]:
url_3 = 'https://stepik.org/media/attachments/lesson/361619/sample_ads.csv'

In [19]:
df_3 = pd.read_csv(url_3)

In [20]:
df_3.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [21]:
# Посчитаем количество строк без пропусков 
not_nan_count = (~df_3.click_type.isna()).sum() # ~ это логическое отрицание
not_nan_count

11

In [22]:
# Еще один способ посчитать количество строк без проспусков
not_nan_count = df_3.click_type.notna().sum()
not_nan_count

11

# Задание 4
___
В списке `lst` находятся различные элементы. Создайте списк `new_list` и сделайте следующее:

+ при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
+ если это получилось - добавьте преобразованное значение  в список `new_list`

In [23]:
lst = ['0', '2', '5', 'hello world', '11' ]
new_list = []

In [24]:
for element in lst:
    try:
        new_list.append(int(element))
    except:
        pass
    
print(new_list)

[0, 2, 5, 11]

# Задание 5
___
А теперь попробуем воспользоваться знаниями использования Telegram API. Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, от имени которого будете отправлять сообщения.

In [28]:
import requests
import json
from urllib.parse import urlencode

In [42]:
# Откроем файл с токеном Telegram bota и идентификатором чата
with open('/home/jupyter-a.stamati-16/Lectures_7/my_bot.json') as src:
    data = json.load(src)

In [43]:
token = data['token']
chat_id = data['chat_id']

In [44]:
message = 'Привет'

params = {'chat_id': chat_id,
          'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)

resp = requests.get(url)