# Ð‘Ð»Ð¾Ðº â„–1

Ð’ÑÐµÐ¼ Ð¿Ñ€Ð¸Ð²ÐµÑ‚!

ÐÐµÐ¼Ð½Ð¾Ð³Ð¾ Ð²Ð°Ð¶Ð½Ñ‹Ñ… Ð¼Ð¾Ð¼ÐµÐ½Ñ‚Ð¾Ð² Ð´Ð¾ Ñ‚Ð¾Ð³Ð¾ ÐºÐ°Ðº Ð²Ñ‹ Ð¿Ñ€Ð¸ÑÑ‚ÑƒÐ¿Ð¸Ñ‚Ðµ Ðº Ð²Ñ‹Ð¿Ð¾Ð»Ð½ÐµÐ½Ð¸ÑŽ Ð·Ð°Ð´Ð°Ñ‡ÐµÐº Ð¸ Ð½Ð°Ð¿Ð¸ÑÐ°Ð½Ð¸ÑŽ Ð¿ÐµÑ€Ð²Ñ‹Ñ… Ð·Ð°Ð¿Ñ€Ð¾ÑÐ¾Ð²: 

+ Ð’ ClickHouse Ð¼Ð¾Ð¶Ð½Ð¾ Ð¾Ð±Ñ€Ð°Ñ‰Ð°Ñ‚ÑŒÑÑ Ðº Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ð°Ð¼ ÐºÐ°Ðº Ñ‡ÐµÑ€ÐµÐ· `default.checks`, Ñ‚Ð°Ðº Ð¸ ÐºÐ°Ðº Ð¿Ñ€Ð¾ÑÑ‚Ð¾ `checks`. ÐÐ° LMS Ð½ÑƒÐ¶Ð½Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ Ñ‚Ð¾Ð»ÑŒÐºÐ¾ Ð·Ð°Ð¿Ð¸ÑÑŒ `checks`, Ð¸Ð½Ð°Ñ‡Ðµ ÑÐ¸ÑÑ‚ÐµÐ¼Ð° Ð½Ðµ Ð´Ð°ÑÑ‚ Ð²Ñ‹Ð¿Ð¾Ð»Ð½Ð¸Ñ‚ÑŒ Ð·Ð°Ð¿Ñ€Ð¾Ñ (Ð·Ð´ÐµÑÑŒ Ð´Ð»Ñ Ð¿Ñ€Ð¾Ð²ÐµÑ€ÐºÐ¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐµÑ‚ÑÑ MySQL)
+ Ð—Ð°Ð¿Ñ€Ð¾ÑÑ‹ Ð½Ð° LMS Ð½Ðµ Ñ‡ÑƒÐ²ÑÑ‚Ð²Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ñ‹ Ðº Ñ€ÐµÐ³Ð¸ÑÑ‚Ñ€Ñƒ, Ð¸ Ð¼Ð¾Ð³ÑƒÑ‚ Ð·Ð°Ð¿ÑƒÑÐºÐ°Ñ‚ÑŒÑÑ Ð²Ð°Ñ€Ð¸Ð°Ð½Ñ‚Ñ‹ Ñ Ñ€Ð°Ð·Ð½Ñ‹Ð¼ Ð½Ð°Ð¿Ð¸ÑÐ°Ð½Ð¸ÐµÐ¼ (`Name`, `name`, `NaMe`) 
+ ÐÐ° LMS Ð·Ð°Ð¿Ñ€Ð¾ÑÑ‹ Ð¿Ñ€Ð¾Ð²ÐµÑ€ÑÑŽÑ‚ÑÑ Ð½Ð° Ð½ÐµÐ±Ð¾Ð»ÑŒÑˆÐ¾Ð¼ ÑÑÐ¼Ð¿Ð»Ðµ Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð¿Ð¾ÑÑ‚Ð¾Ð¼Ñƒ ÐºÐ°ÐºÐ¸Ðµ-Ñ‚Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð² Ð°ÑƒÑ‚Ð¿ÑƒÑ‚Ðµ (Query result) Ð¼Ð¾Ð³ÑƒÑ‚ Ð½Ðµ ÑÐ¾Ð²Ð¿Ð°Ð´Ð°Ñ‚ÑŒ Ñ Ñ‚ÐµÐ¼, Ñ‡Ñ‚Ð¾ Ð²Ñ‹ ÑƒÐ²Ð¸Ð´Ð¸Ñ‚Ðµ Ð² ClickHouse. Ð­Ñ‚Ð¾ Ð½Ð¾Ñ€Ð¼Ð°Ð»ÑŒÐ½Ð¾, Ð¿Ð°Ð½Ð¸ÐºÐ¾Ð²Ð°Ñ‚ÑŒ Ð½Ðµ ÑÑ‚Ð¾Ð¸Ñ‚ â€“ ÐµÑÐ»Ð¸ Ð·Ð°Ð¿Ñ€Ð¾Ñ/Ð¾Ñ‚Ð²ÐµÑ‚ Ð²ÐµÑ€Ð½Ñ‹Ð¹, ÑÐ¸ÑÑ‚ÐµÐ¼Ð° Ð´Ð¾Ð»Ð¶Ð½Ð° ÐµÐ³Ð¾ Ð¿Ñ€Ð¸Ð½ÑÑ‚ÑŒ)
Ð£ÑÐ¿ÐµÑ…Ð¾Ð²! ðŸ¤—

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 1
___
Q: Ð§Ñ‚Ð¾ Ñ‚Ð°ÐºÐ¾Ðµ SQL?

A: Structured Query Language. Ð”Ð¾ÑÐ»Ð¾Ð²Ð½Ñ‹Ð¹ Ð¿ÐµÑ€ÐµÐ²Ð¾Ð´: Â«ÑÐ·Ñ‹Ðº ÑÑ‚Ñ€ÑƒÐºÑ‚ÑƒÑ€Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ñ‹Ñ… Ð·Ð°Ð¿Ñ€Ð¾ÑÐ¾Ð²Â».

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 2
___

Ð¡Ð¾Ð¾Ñ‚Ð½ÐµÑÐ¸Ñ‚Ðµ Ð¾Ð¿ÐµÑ€Ð°Ñ‚Ð¾Ñ€ Ñ ÐµÐ³Ð¾ Ð¾Ð¿Ð¸ÑÐ°Ð½Ð¸ÐµÐ¼:
    
LIMIT -> Ð¿Ð¾Ð·Ð²Ð¾Ð»ÑÐµÑ‚ Ð¸Ð·Ð²Ð»ÐµÑ‡ÑŒ Ð¾Ð¿Ñ€ÐµÐ´ÐµÐ»ÐµÐ½Ð½Ð¾Ðµ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ ÑÑ‚Ñ€Ð¾Ðº \
SELECT -> ÑƒÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÑ‚, ÐºÐ°ÐºÐ¸Ðµ Ð¿Ð¾Ð»Ñ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ Ð²Ñ‹Ð²ÐµÑÑ‚Ð¸ Ð² Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÑƒÑŽ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ \
WHERE -> Ñ„Ð¸Ð»ÑŒÑ‚Ñ€ÑƒÐµÑ‚ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ Ð¿Ð¾ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸ÑŽ(ÑÐ¼) Ð¿Ð¾Ð»Ñ(ÐµÐ¹) \
FROM -> ÑƒÐºÐ°Ð·Ñ‹Ð²Ð°ÐµÑ‚, Ð¸Ð· ÐºÐ°ÐºÐ¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ Ð±ÑƒÐ´ÑƒÑ‚ Ð²Ð·ÑÑ‚Ñ‹ Ð½ÑƒÐ¶Ð½Ñ‹Ðµ Ð¿Ð¾Ð»Ñ \
HAVING -> Ñ„Ð¸Ð»ÑŒÑ‚Ñ€Ð°Ñ†Ð¸Ñ Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð°Ð½Ð°Ð»Ð¾Ð³Ð¸Ñ‡Ð½Ð¾ WHERE, Ð¿Ñ€Ð¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ð¸ GROUP BY, Ð¸Ð»Ð¸ Ð¿Ñ€Ð¸Ð¼ÐµÐ½Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾ Ðº Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÐµÐ¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ \
ORDER BY -> ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐµÑ‚ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÑƒÑŽ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ \
GROUP BY -> Ð°Ð³Ñ€ÐµÐ³Ð¸Ñ€ÑƒÐµÑ‚ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¿Ð¾ ÐºÐ°ÐºÐ¾Ð¼Ñƒ-Ð»Ð¸Ð±Ð¾ Ð¿Ð¾Ð»ÑŽ \

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 3
___

Ð Ð°ÑÐ¿Ð¾Ð»Ð¾Ð¶Ð¸Ñ‚Ðµ Ð¾Ð¿ÐµÑ€Ð°Ñ‚Ð¾Ñ€Ñ‹ SQL Ð² Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ð¾Ð¼ Ð¿Ð¾Ñ€ÑÐ´ÐºÐµ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ñ Ð² Ð·Ð°Ð¿Ñ€Ð¾ÑÐµ::
```        
SELECT -- Ð¿ÐµÑ€ÐµÑ‡Ð¸ÑÐ»ÐµÐ½Ð¸Ðµ Ð¿Ð¾Ð»ÐµÐ¹ Ð´Ð»Ñ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÐµÐ¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹
    BuyDate,
    COUNT(*) AS rows
FROM -- Ð¸ÑÑ‚Ð¾Ñ‡Ð½Ð¸Ðº Ð´Ð°Ð½Ð½Ñ‹Ñ…
    default.checks 
WHERE -- Ñ„Ð¸Ð»ÑŒÑ‚Ñ€Ð°Ñ†Ð¸Ñ Ð´Ð°Ð½Ð½Ñ‹Ñ…
    BuyDate != '2019-03-08'
GROUP BY -- Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÐ° Ð´Ð°Ð½Ð½Ñ‹Ñ…
    BuyDate 
HAVING -- Ñ„Ð¸Ð»ÑŒÑ‚Ñ€Ð°Ñ†Ð¸Ñ Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð°Ð½Ð°Ð»Ð¾Ð³Ð¸Ñ‡Ð½Ð¾ WHERE, Ð¿Ñ€Ð¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ð¸ GROUP BY
    COUNT(*) > 215000
ORDER BY -- ÑÐ¾Ñ€Ñ‚Ð¸Ñ€Ð¾Ð²ÐºÐ° Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÐµÐ¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹
    rows DESC 
LIMIT 100 -- Ð¾Ð³Ñ€Ð°Ð½Ð¸Ñ‡ÐµÐ½Ð¸Ðµ Ð½Ð° ÐºÐ¾Ð»-Ð²Ð¾ ÑÑ‚Ñ€Ð¾Ðº Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÐµÐ¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 4
___
Ð˜Ð¼ÐµÐµÑ‚ÑÑ ÑÐ»ÐµÐ´ÑƒÑŽÑ‰Ð°Ñ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ð° `products`:

| Price   | BuyDate    | ItemID     | TotalVolume |
|:---------|:------------|:------------|:-------------|
| 4.33    | 2015-12-27 | 468f0f4e71 | 64236.60    |
| 1.35    | 2015-12-29 | 468f0f4e71 | 51039.75    |
| 52      | 2015-03-10 | 3e6ad06df4 | 10992       |
| 1.70    | 2016-12-06 | d5389a02cc | 84843.44    |
| 21.33   | 2015-01-31 | d5389a02cc | 26374       |
| 2.90    | 2019-10-25 | d5389a02cc | 117.70      |
| 0.99    | 2015-09-18 | d5389a02cc | 743138.90   |

Ð¡ Ð¿Ð¾Ð¼Ð¾Ñ‰ÑŒÑŽ ÐºÐ°ÐºÐ¾Ð³Ð¾ Ð·Ð°Ð¿Ñ€Ð¾ÑÐ° Ð¼Ð¾Ð¶Ð½Ð¾ Ð²Ñ‹Ð²ÐµÑÑ‚Ð¸ ÐµÑ‘ Ñ†ÐµÐ»Ð¸ÐºÐ¾Ð¼? ÐžÐ±Ñ€Ð°Ñ‚Ð¸Ñ‚Ðµ Ð²Ð½Ð¸Ð¼Ð°Ð½Ð¸Ðµ, Ñ‡Ñ‚Ð¾ Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ñ… Ð¾Ñ‚Ð²ÐµÑ‚Ð¾Ð² Ð¼Ð¾Ð¶ÐµÑ‚ Ð±Ñ‹Ñ‚ÑŒ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾.

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT UserID,
    Rub,
    BuyDate
FROM checks
Ð¾Ð·Ð½Ð°Ñ‡Ð°ÐµÑ‚ Ð²Ñ‹Ð±Ñ€Ð°Ñ‚ÑŒ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ UserID, Rub, BuyDate Ð¸Ð· Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ checks

Ð¸Ð»Ð¸ Ð½Ð°Ð¿Ð¸ÑÐ°Ð² *,

SELECT *
FROM checks
* Ð¾Ð·Ð½Ð°Ñ‡Ð°ÐµÑ‚ - Ð²Ñ‹Ð±Ñ€Ð°Ñ‚ÑŒ Ð²ÑÐµ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ Ð¸Ð· Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ checks
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 5
___
Ð’ ÑÑ‚Ð¾Ð¼ Ð·Ð°Ð´Ð°Ð½Ð¸Ð¸ Ð¸ Ð¿Ð¾ÑÐ»ÐµÐ´ÑƒÑŽÑ‰Ð¸Ñ… Ð¼Ñ‹ Ð±ÑƒÐ´ÐµÐ¼ Ñ€Ð°Ð±Ð¾Ñ‚Ð°Ñ‚ÑŒ Ñ Ñ‚Ð°Ð±Ð»Ð¸Ñ†ÐµÐ¹ `checks`, ÐºÐ¾Ñ‚Ð¾Ñ€Ð°Ñ ÑÐ¾Ð´ÐµÑ€Ð¶Ð¸Ñ‚ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¾ Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ°Ñ… Ð² Ð¸Ð½Ñ‚ÐµÑ€Ð½ÐµÑ‚-Ð¼Ð°Ð³Ð°Ð·Ð¸Ð½Ðµ ÐºÑ€ÑƒÐ¿Ð½Ð¾Ð¹ Ñ€Ð¾Ð·Ð½Ð¸Ñ‡Ð½Ð¾Ð¹ ÑÐµÑ‚Ð¸ Ð¿Ð¾ Ð´Ð½ÑÐ¼:

+ UserID â€” Ð¸Ð´ÐµÐ½Ñ‚Ð¸Ñ„Ð¸ÐºÐ°Ñ‚Ð¾Ñ€ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»Ñ;
+ Rub â€” ÑÑƒÐ¼Ð¼Ð°Ñ€Ð½Ñ‹Ð¹ Ñ‡ÐµÐº Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»Ñ Ð½Ð° Ð´Ð°Ñ‚Ñƒ;
+ BuyDate â€” Ð´Ð°Ñ‚Ð°, Ð·Ð° ÐºÐ¾Ñ‚Ð¾Ñ€ÑƒÑŽ ÑÐ¾Ð±Ñ€Ð°Ð½Ð° ÑÑ‚Ð°Ñ‚Ð¸ÑÑ‚Ð¸ÐºÐ°.

Ð§Ñ‚Ð¾Ð±Ñ‹ Ð²Ð·Ð³Ð»ÑÐ½ÑƒÑ‚ÑŒ Ð½Ð° ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ ÑÑ‚Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ Ð¸ Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð¿ÐµÑ€Ð²Ð¾Ðµ Ð¿Ñ€ÐµÐ´ÑÑ‚Ð°Ð²Ð»ÐµÐ½Ð¸Ðµ Ð¾ ÐµÐµ Ð´Ð°Ð½Ð½Ñ‹Ñ…, Ð²Ñ‹Ð²ÐµÐ´Ð¸Ñ‚Ðµ Ð¿ÐµÑ€Ð²Ñ‹Ðµ 10 ÑÑ‚Ñ€Ð¾Ðº Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ `checks`.

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT UserID,
    Rub,
    BuyDate
FROM checks
LIMIT 10
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 6
___
Ð”Ð°Ð²Ð°Ð¹Ñ‚Ðµ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° Ñ‚Ð¾Ð¿-10 Ð¿Ð»Ð°Ñ‚ÐµÐ¶ÐµÐ¹ Ð¿Ð¾ ÑÑƒÐ¼Ð¼Ðµ Ð² Ñ€ÑƒÐ±Ð»ÑÑ…. Ð’Ñ‹Ð²ÐµÐ´Ð¸Ñ‚Ðµ Ð¿ÐµÑ€Ð²Ñ‹Ðµ 10 ÑÑ‚Ñ€Ð¾Ðº Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ `checks`, Ð½Ð¾ Ñ‚ÐµÐ¿ÐµÑ€ÑŒ Ð¾Ñ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€Ð¾Ð²Ð°Ð² Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ `Rub` Ð¿Ð¾ ÑƒÐ±Ñ‹Ð²Ð°Ð½Ð¸ÑŽ (DESC).

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT *
FROM checks
ORDER BY Rub DESC
LIMIT 10
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 7
___
Ð”Ð»Ñ Ñ€Ð°Ð±Ð¾Ñ‚Ñ‹ Ð±Ñ‹Ð²Ð°ÐµÑ‚ ÑƒÐ´Ð¾Ð±Ð½Ð¾ Ð¿ÐµÑ€ÐµÐ¸Ð¼ÐµÐ½Ð¾Ð²Ð°Ñ‚ÑŒ ÐºÐ¾Ð»Ð¾Ð½ÐºÐ¸ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹. Ð’Ñ‹Ð²ÐµÐ´Ð¸Ñ‚Ðµ Ð¿ÐµÑ€Ð²Ñ‹Ðµ 15 ÑÑ‚Ñ€Ð¾Ðº Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹ `checks`, Ð¿ÐµÑ€ÐµÐ¸Ð¼ÐµÐ½Ð¾Ð²Ð°Ð² Ð¿Ð¾Ð»Ðµ `Rub` Ð² `Revenue` Ð¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÑ ÑÐ¾Ñ€Ñ‚Ð¸Ñ€Ð¾Ð²ÐºÑƒ Ð¿Ð¾ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚Ð°Ð½Ð¸ÑŽ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð° `UserID`.

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT 
    Rub as Revenue,
    BuyDate,
    UserID
FROM
    checks
ORDER BY 
    Revenue DESC
LIMIT 
    30
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 8
___
ÐŸÑ€Ð¾Ð²ÐµÑ€ÑŒÑ‚Ðµ, Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð·Ð° ÐºÐ°ÐºÐ¾Ð¹ Ð¿ÐµÑ€Ð¸Ð¾Ð´ Ð¸Ð¼ÐµÑŽÑ‚ÑÑ Ð² Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ. Ð”Ð»Ñ ÑÑ‚Ð¾Ð³Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐ¹Ñ‚Ðµ `MIN` Ð¸ `MAX` Ð¿Ð¾ ÐºÐ¾Ð»Ð¾Ð½ÐºÐµ `BuyDate`. ÐšÐ¾Ð»Ð¾Ð½ÐºÐ¸ Ñ Ð¼Ð¸Ð½Ð¸Ð¼Ð°Ð»ÑŒÐ½Ñ‹Ð¼ Ð¸ Ð¼Ð°ÐºÑÐ¸Ð¼Ð°Ð»ÑŒÐ½Ñ‹Ð¼ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸ÐµÐ¼ Ð½Ð°Ð·Ð¾Ð²Ð¸Ñ‚Ðµ `MinDate` Ð¸ `MaxDate` ÑÐ¾Ð¾Ñ‚Ð²ÐµÑ‚ÑÑ‚Ð²ÐµÐ½Ð½Ð¾.

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT 
    MIN(BuyDate) as MinDate,
    MAX(BuyDate) as MaxDate
FROM 
    checks
LIMIT 
    10
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 9
___
ÐŸÑ€ÐµÐ´Ð¿Ð¾Ð»Ð¾Ð¶Ð¸Ð¼, Ñ‡Ñ‚Ð¾ Ð¿ÐµÑ€ÐµÐ´ Ð½Ð°Ð¼Ð¸ ÑÑ‚Ð¾Ð¸Ñ‚ Ð·Ð°Ð´Ð°Ñ‡Ð° Ð¾Ñ‚Ð¾Ð±Ñ€Ð°Ñ‚ÑŒ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð³Ñ€ÑƒÐ¿Ð¿ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹ Ð¿Ð¾ Ñ€Ð°Ð·Ð½Ñ‹Ð¼ ÐºÑ€Ð¸Ñ‚ÐµÑ€Ð¸ÑÐ¼, Ñ‡Ñ‚Ð¾Ð±Ñ‹ Ð¾Ñ‚Ð¿Ñ€Ð°Ð²Ð¸Ñ‚ÑŒ Ð¸Ð¼ Ð¿ÐµÑ€ÑÐ¾Ð½Ð°Ð»ÑŒÐ½Ñ‹Ðµ ÑÐ¾Ð¾Ð±Ñ‰ÐµÐ½Ð¸Ñ Ð¾Ð± Ð°ÐºÑ†Ð¸ÑÑ…. ÐÐ°Ð¿Ñ€Ð¸Ð¼ÐµÑ€, Ð¿ÐµÑ€Ð²Ñ‹Ð¼ 10 Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÑÐ¼, Ð·Ð°Ñ€ÐµÐ³Ð¸ÑÑ‚Ñ€Ð¸Ñ€Ð¾Ð²Ð°Ð²ÑˆÐ¸Ð¼ÑÑ Ð½Ð° ÑÐ°Ð¹Ñ‚Ðµ (Ñ‡ÐµÐ¼ Ñ€Ð°Ð½ÑŒÑˆÐµ Ð·Ð°Ñ€ÐµÐ³Ð¸ÑÑ‚Ñ€Ð¸Ñ€Ð¾Ð²Ð°Ð»ÑÑ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÑŒ, Ñ‚ÐµÐ¼ Ð¼ÐµÐ½ÑŒÑˆÐµ ÐµÐ³Ð¾ `UserID`), Ð¼Ñ‹ Ñ…Ð¾Ñ‚Ð¸Ð¼ Ð¿Ð¾Ð´Ð°Ñ€Ð¸Ñ‚ÑŒ ÑÐºÐ¸Ð´ÐºÑƒ Ð½Ð° ÑÐ»ÐµÐ´ÑƒÑŽÑ‰ÑƒÑŽ Ð¿Ð¾ÐºÑƒÐ¿ÐºÑƒ.

Ð’Ñ‹Ð²ÐµÐ´Ð¸Ñ‚Ðµ `UserID` 10 ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ñ‹Ñ… Ð¿Ð¾ÐºÑƒÐ¿Ð°Ñ‚ÐµÐ»ÐµÐ¹, Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÑ Ð¾Ð¿ÐµÑ€Ð°Ñ‚Ð¾Ñ€ `DISTINCT`. Ð¢Ð°Ð±Ð»Ð¸Ñ†Ñƒ Ð¾Ñ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð¿Ð¾ `UserID` Ð² Ð¿Ð¾Ñ€ÑÐ´ÐºÐµ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚Ð°Ð½Ð¸Ñ.

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT
    DISTINCT User_id
FROM table1
ORDER BY
    User_id
LIMIT 10
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 10
___
ÐœÑ‹ Ñ…Ð¾Ñ‚Ð¸Ð¼ ÑÑ„Ð¾Ñ€Ð¼Ð¸Ñ€Ð¾Ð²Ð°Ñ‚ÑŒ Ð½Ð¾Ð²ÑƒÑŽ Ð°ÐºÑ†Ð¸ÑŽ Ðº 8 Ð¼Ð°Ñ€Ñ‚Ð°, Ð¸ Ð´Ð»Ñ ÑÑ‚Ð¾Ð³Ð¾ Ð½Ð°Ñ Ð¸Ð½Ñ‚ÐµÑ€ÐµÑÑƒÑŽÑ‚ ÑÐ°Ð¼Ñ‹Ðµ ÐºÑ€ÑƒÐ¿Ð½Ñ‹Ðµ Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ¸, ÑÐ¾Ð²ÐµÑ€ÑˆÐµÐ½Ð½Ñ‹Ðµ Ð² ÑÑ‚Ð¾Ñ‚ Ð´ÐµÐ½ÑŒ Ð² Ð¿Ñ€Ð¾ÑˆÐ»Ð¾Ð¼ Ð³Ð¾Ð´Ñƒ.

Ð’Ñ‹Ð²ÐµÐ´Ð¸Ñ‚Ðµ Ð¸Ð½Ñ„Ð¾Ñ€Ð¼Ð°Ñ†Ð¸ÑŽ Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð°Ñ…, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ Ð±Ñ‹Ð»Ð¸ ÑÐ¾Ð²ÐµÑ€ÑˆÐµÐ½Ñ‹ 8 Ð¼Ð°Ñ€Ñ‚Ð° 2019 Ð³Ð¾Ð´Ð°, Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÑ Ð±Ð»Ð¾Ðº `WHERE` Ð¿Ñ€Ð¸Ð¼ÐµÐ½Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾ Ðº Ð¿Ð¾Ð»ÑŽ `BuyDate`. Ð—Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð¾Ñ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð¿Ð¾ ÑƒÐ±Ñ‹Ð²Ð°Ð½Ð¸ÑŽ `Rub`. ÐšÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ ÑÑ‚Ñ€Ð¾Ðº Ð´Ð»Ñ Ð¸Ð·Ð²Ð»ÐµÑ‡ÐµÐ½Ð¸Ñ â€“ 10. Ð”Ð°Ñ‚Ð° Ñ…Ñ€Ð°Ð½Ð¸Ñ‚ÑÑ Ð² Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ Ð² Ñ‚ÐµÐºÑÑ‚Ð¾Ð²Ð¾Ð¼ Ð²Ð¸Ð´Ðµ Ð¸ Ð¸Ð¼ÐµÐµÑ‚ Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ Ð³Ð¾Ð´-Ð¼ÐµÑÑÑ†-Ð´ÐµÐ½ÑŒ (â€˜YYYY-MM-DDâ€™). ÐÐ°Ð¿Ñ€Ð¸Ð¼ÐµÑ€: 1 Ð´ÐµÐºÐ°Ð±Ñ€Ñ 2018 Ð³Ð¾Ð´Ð° Ð·Ð°Ð¿Ð¸ÑÑ‹Ð²Ð°ÐµÑ‚ÑÑ ÐºÐ°Ðº `'2018-12-01'`.

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT 
    *
FROM
    checks
WHERE 
    BuyDate = '2019-03-08'
ORDER BY
    Rub DESC
LIMIT 
    10
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 11
___
ÐœÑ‹ Ð¿Ñ€ÐµÐ´Ð¿Ð¾Ð»Ð°Ð³Ð°ÐµÐ¼, Ñ‡Ñ‚Ð¾ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»Ð¸, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ ÑÐ¾Ð²ÐµÑ€ÑˆÐ¸Ð»Ð¸ ÐºÑ€ÑƒÐ¿Ð½Ñ‹Ðµ Ð¿Ð¾ÐºÑƒÐ¿ÐºÐ¸ 1 ÑÐµÐ½Ñ‚ÑÐ±Ñ€Ñ Ð² Ð¿Ñ€Ð¾ÑˆÐ»Ð¾Ð¼ Ð³Ð¾Ð´Ñƒ - Ñ€Ð¾Ð´Ð¸Ñ‚ÐµÐ»Ð¸ ÑˆÐºÐ¾Ð»ÑŒÐ½Ð¸ÐºÐ¾Ð², Ð¸ Ð² ÑÐ»ÐµÐ´ÑƒÑŽÑ‰ÐµÐ¼ Ð³Ð¾Ð´Ñƒ Ð¼Ð¾Ð¶Ð½Ð¾ Ð±ÑƒÐ´ÐµÑ‚ Ð¿Ð¾Ð´Ð³Ð¾Ñ‚Ð¾Ð²Ð¸Ñ‚ÑŒ Ð´Ð»Ñ Ð½Ð¸Ñ… Ð°ÐºÑ†Ð¸ÑŽ Ð½Ð° Ð³Ñ€ÑƒÐ¿Ð¿Ñƒ Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð².

Ð”Ð°Ð²Ð°Ð¹Ñ‚Ðµ Ð¿Ñ€Ð¸Ð¼ÐµÐ½Ð¸Ð¼ `WHERE` Ðº Ð¿Ð¾Ð»ÑÐ¼ `BuyDate` Ð¸ `Rub`, Ð¸ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° ÑƒÐ½Ð¸ÐºÐ°Ð»ÑŒÐ½Ñ‹Ðµ id Ð¿Ð¾ÐºÑƒÐ¿Ð°Ñ‚ÐµÐ»ÐµÐ¹ Ð¸Ð· `checks`, ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ðµ ÑÐ¾Ð²ÐµÑ€ÑˆÐ¸Ð»Ð¸ Ð¿Ð¾ÐºÑƒÐ¿ÐºÑƒ 1 ÑÐµÐ½Ñ‚ÑÐ±Ñ€Ñ 2019 Ð³Ð¾Ð´Ð° Ð½Ð° ÑÑƒÐ¼Ð¼Ñƒ Ð±Ð¾Ð»ÐµÐµ 2 000 Ñ€ÑƒÐ±Ð»ÐµÐ¹. Ð—Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð¾Ñ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð¿Ð¾ ÑƒÐ±Ñ‹Ð²Ð°Ð½Ð¸ÑŽ `UserID`.

ÐžÑ‚Ð²ÐµÑ‚:
```
SELECT 
    DISTINCT UserID
FROM 
    checks
WHERE
    BuyDate = '2019-09-01'
    AND Rub > 2000
ORDER BY 
    UserID DESC
```