# Ð‘Ð»Ð¾Ðº â„–8

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 1
___
Ð”Ð»Ñ Ñ‡ÐµÐ³Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÑŽÑ‚ Ð¾ÐºÐ¾Ð½Ð½Ñ‹Ðµ Ñ„ÑƒÐ½ÐºÑ†Ð¸Ð¸?

+ ÐºÐ¾Ð³Ð´Ð° Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÑŒ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÑƒÑŽ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ Ð¾Ð´Ð½Ð¾Ð³Ð¾ Ð·Ð°Ð¿Ñ€Ð¾ÑÐ°, ÐºÐ°Ðº Ð²Ñ…Ð¾Ð´Ð½ÑƒÑŽ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ Ð´Ð»Ñ Ð´Ñ€ÑƒÐ³Ð¾Ð³Ð¾
+ ÐºÐ¾Ð³Ð´Ð° Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ ÑÐ¾Ñ…Ñ€Ð°Ð½Ð¸Ñ‚ÑŒ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÑƒÑŽ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ Ð² Ð½Ð¾Ð²Ð¾Ð¼ Ð¾ÐºÐ½Ðµ
+ ÐºÐ¾Ð³Ð´Ð° Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ Ð¾Ð±ÑŠÐµÐ´Ð¸Ð½Ð¸Ñ‚ÑŒ Ð´Ð²Ðµ Ð¸Ð»Ð¸ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ñ‚Ð°Ð±Ð»Ð¸Ñ† Ð¿Ð¾ Ð¾Ð±Ñ‰ÐµÐ¼Ñƒ ÐºÐ»ÑŽÑ‡Ñƒ
+ ÐºÐ¾Ð³Ð´Ð° Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ ÑÐ¾ÑÐµÐ´Ð½Ð¸Ñ… ÑÑ‡ÐµÐµÐº, Ð½Ðµ Ð¼ÐµÐ½ÑÑ Ð¿Ñ€Ð¸ ÑÑ‚Ð¾Ð¼ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÑƒ ÑÑ‚Ñ€Ð¾Ðº

ÐžÑ‚Ð²ÐµÑ‚:
ÐºÐ¾Ð³Ð´Ð° Ð½ÐµÐ¾Ð±Ñ…Ð¾Ð´Ð¸Ð¼Ð¾ Ð¿Ð¾Ð»ÑƒÑ‡Ð¸Ñ‚ÑŒ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ ÑÐ¾ÑÐµÐ´Ð½Ð¸Ñ… ÑÑ‡ÐµÐµÐº, Ð½Ðµ Ð¼ÐµÐ½ÑÑ Ð¿Ñ€Ð¸ ÑÑ‚Ð¾Ð¼ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÑƒ ÑÑ‚Ñ€Ð¾Ðº

# Ð—Ð°Ð´Ð°Ñ‡Ð° 2
___
Ð¡Ð¾Ð¾Ñ‚Ð½ÐµÑÐ¸Ñ‚Ðµ Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€ Ñ ÐµÐ³Ð¾ Ð¾Ð¿Ð¸ÑÐ°Ð½Ð¸ÐµÐ¼:

ÐžÑ‚Ð²ÐµÑ‚:
+ PARTITION BY â€“ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€ÑƒÐµÑ‚ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð´Ð»Ñ Ð¾ÐºÐ½Ð°
+ ORDER BY â€“ ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐµÑ‚ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚Ñ‹ Ð²Ð½ÑƒÑ‚Ñ€Ð¸ Ñ€Ð°Ð·Ð´ÐµÐ»Ð°
+ ROWS/RANGE â€“ Ð·Ð°Ð´Ð°ÐµÑ‚ Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ñ‹ Ñ€Ð°Ð¼ÐºÐ¸ Ð¾ÐºÐ½Ð°

# Ð—Ð°Ð´Ð°Ñ‡Ð° 3
___
Ð’ Ñ‡ÐµÐ¼ Ð·Ð°ÐºÐ»ÑŽÑ‡Ð°ÐµÑ‚ÑÑ Ñ€Ð°Ð·Ð»Ð¸Ñ‡Ð¸Ðµ Ð¼ÐµÐ¶Ð´Ñƒ ROWS Ð¸ RANGE?

ÐžÑ‚Ð²ÐµÑ‚:
+ ÐŸÑ€Ð¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ð¸ ROWS Ð½Ð°Ñ‡Ð°Ð»Ð¾ Ð¸ ÐºÐ¾Ð½ÐµÑ† Ñ€Ð°Ð¼ÐºÐ¸ Ð·Ð°Ð´Ð°ÑŽÑ‚ÑÑ Ð² ÑÑ‚Ñ€Ð¾ÐºÐ°Ñ… Ð¾Ñ‚Ð½Ð¾ÑÐ¸Ñ‚ÐµÐ»ÑŒÐ½Ð¾ Ñ‚ÐµÐºÑƒÑ‰ÐµÐ¹ ÑÑ‚Ñ€Ð¾ÐºÐ¸
+ ÐŸÑ€Ð¸ Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ð½Ð¸Ð¸ RANGE Ð½Ð°Ñ‡Ð°Ð»Ð¾ Ð¸ ÐºÐ¾Ð½ÐµÑ† Ñ€Ð°Ð¼ÐºÐ¸ Ð·Ð°Ð´Ð°ÑŽÑ‚ÑÑ Ð² Ñ€Ð°Ð·Ð½Ð¸Ñ†Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ð¹ ÑÑ‚Ð¾Ð»Ð±Ñ†Ð° Ð¸Ð· ORDER BY.

# Ð—Ð°Ð´Ð°Ñ‡Ð° 4
___
ÐÐµÐ¼Ð½Ð¾Ð³Ð¾ Ð¾ÑÐ²ÐµÐ¶Ð¸Ð¼ Ð² Ð¿Ð°Ð¼ÑÑ‚Ð¸ Ð¿Ð¾Ñ€ÑÐ´Ð¾Ðº ÑƒÐºÐ°Ð·Ð°Ð½Ð¸Ñ Ð¾Ð¿ÐµÑ€Ð°Ñ‚Ð¾Ñ€Ð¾Ð² Ð² Ð·Ð°Ð¿Ñ€Ð¾ÑÐµ! Ð Ð°ÑÐ¿Ð¾Ð»Ð¾Ð¶Ð¸Ñ‚Ðµ Ð¸Ñ… Ð² Ð¿Ñ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ð¾Ð¼ Ð¿Ð¾Ñ€ÑÐ´ÐºÐµ:

ÐžÑ‚Ð²ÐµÑ‚: \
SELECT [Ð¿ÐµÑ€ÐµÑ‡Ð¸ÑÐ»ÐµÐ½Ð¸Ðµ Ð¿Ð¾Ð»ÐµÐ¹] \
FROM [Ð¸Ð¼Ñ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹] \
WHERE [Ð¸Ð¼Ñ Ð¿Ð¾Ð»Ñ] (=, >, <, IN,) [Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ Ð¿Ð¾Ð»Ñ] \
GROUP BY [Ð¿ÐµÑ€ÐµÑ‡Ð¸ÑÐ»ÐµÐ½Ð¸Ðµ Ð¿Ð¾Ð»Ðµ, Ð¿Ð¾ ÐºÐ¾Ñ‚Ð¾Ñ€Ñ‹Ð¼ Ð¿Ñ€Ð¾Ð¸ÑÑ…Ð¾Ð´Ð¸Ñ‚ Ð³Ñ€ÑƒÐ¿Ð¿Ð¸Ñ€Ð¾Ð²ÐºÐ°] \
HAVING [Ð¸Ð¼Ñ Ð°Ð³Ñ€ÐµÐ³Ð¸Ñ€Ð¾Ð²Ð°Ð½Ð½Ð¾Ð³Ð¾ Ð¿Ð¾Ð»Ñ] (=, >, <,) [Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ Ð¿Ð¾Ð»Ñ] \
WINDOW [Ð¸Ð¼Ñ Ð¾ÐºÐ½Ð°] AS [ÑÐ¿ÐµÑ†Ð¸Ñ„Ð¸ÐºÐ°Ñ†Ð¸Ñ Ð¾ÐºÐ½Ð°] \
ORDER BY [Ð¿Ð¾Ð»Ðµ] (DESC/ASC) \
LIMIT [ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¸Ð·Ð²Ð»ÐµÐºÐ°ÐµÐ¼Ñ‹Ñ… ÑÑ‚Ñ€Ð¾Ðº] \

# Ð—ÐÐ´Ð°Ñ‡Ð° 5
___
ÐŸÐ¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° Ð¿Ñ€Ð¸Ð¼ÐµÑ€. ÐŸÑ€ÐµÐ´Ð¿Ð¾Ð»Ð¾Ð¶Ð¸Ð¼, ÐµÑÑ‚ÑŒ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ð° Ñ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÑÐ¼Ð¸, ÑÐ¾ÑÑ‚Ð¾ÑÑ‰Ð°Ñ Ð¸Ð· 4 ÐºÐ¾Ð»Ð¾Ð½Ð¾Ðº. Ð”Ð»Ñ Ð¿Ð¾Ð»ÑŒÐ·Ð¾Ð²Ð°Ñ‚ÐµÐ»ÐµÐ¹ Ð¸Ð· Ð“ÐµÑ€Ð¼Ð°Ð½Ð¸Ð¸ Ð½ÑƒÐ¶Ð½Ð¾ Ð¿Ð¾ÑÑ‡Ð¸Ñ‚Ð°Ñ‚ÑŒ Ð½Ð°ÐºÐ¾Ð¿Ð¸Ñ‚ÐµÐ»ÑŒÐ½ÑƒÑŽ ÑÑƒÐ¼Ð¼Ñƒ Ð¿Ð¾ÐºÑƒÐ¿Ð¾Ðº Ð¸ Ð·Ð°Ð¿Ð¸ÑÐ°Ñ‚ÑŒ Ð² `TotalPerUser`.

| Country | UserID | BuyDate | Rub | TotalPerUser |
|---------|--------|---------|-----|--------------|
| Germany | 1406814346437 | 27/07/19 | 4 | 4 |
| Germany | 1406814346437 |29/07/19 | 3 | 7 |

ÐŸÑ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ:
```
SELECT Country, UserID, BuyDate, Rub, SUM(Rub) OVER w AS TotalPerUser
FROM data
WHERE Country = 'Germany'
WINDOW w AS 
	(PARTITION BY UserID 
	 ORDER BY BuyDate ASC
         ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)
ORDER BY
	 UserID DESC, 
	 BuyDate ASC
LIMIT 100
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 6
___
Ð’Ð¾Ð·Ð¼Ð¾Ð¶Ð½Ð¾ Ð²Ñ‹ Ð¾ Ð½Ð¸Ñ… Ð·Ð°Ð±Ñ‹Ð»Ð¸, Ð½Ð¾ Ð¾Ð½Ð¸ Ð²ÐµÑ€Ð½ÑƒÐ»Ð¸ÑÑŒ! Ð”Ð°Ð½Ð½Ñ‹Ðµ Ð¿Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð°Ð¼ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ ðŸ¥‘: 

+ `date` â€” Ð´Ð°Ñ‚Ð°
+ `average_price` â€” ÑÑ€ÐµÐ´Ð½ÑÑ Ñ†ÐµÐ½Ð° Ð¾Ð´Ð½Ð¾Ð³Ð¾ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾
+ `total_volume` â€” ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾
+ `plu4046` â€” ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ PLU* 4046
+ `plu4225` â€” ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ PLU 4225
+ `lu4770` â€” ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ PLU 4770
+ `total_bags` â€” Ð²ÑÐµÐ³Ð¾ ÑƒÐ¿Ð°ÐºÐ¾Ð²Ð¾Ðº
+ `small_bags` â€” Ð¼Ð°Ð»ÐµÐ½ÑŒÐºÐ¸Ðµ ÑƒÐ¿Ð°ÐºÐ¾Ð²ÐºÐ¸
+ `large_bags` â€” Ð±Ð¾Ð»ÑŒÑˆÐ¸Ðµ
+ `xlarge_bags` â€” Ð¾Ñ‡ÐµÐ½ÑŒ Ð±Ð¾Ð»ÑŒÑˆÐ¸Ðµ
+ `type` â€” Ð¾Ð±Ñ‹Ñ‡Ð½Ñ‹Ð¹ Ð¸Ð»Ð¸ Ð¾Ñ€Ð³Ð°Ð½Ð¸Ñ‡ÐµÑÐºÐ¸Ð¹
+ `year` â€” Ð³Ð¾Ð´
+ `region` â€” Ð³Ð¾Ñ€Ð¾Ð´ Ð¸Ð»Ð¸ Ñ€ÐµÐ³Ð¸Ð¾Ð½ (TotalUS â€“ ÑÑ€Ð°Ð·Ñƒ Ð¿Ð¾ Ð¡Ð¨Ð)

Ð’ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ Ð½Ð°Ñ…Ð¾Ð´ÑÑ‚ÑÑ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð½Ðµ Ð·Ð° ÐºÐ°Ð¶Ð´Ñ‹Ð¹ Ð´ÐµÐ½ÑŒ, Ð° Ð·Ð° ÐºÐ¾Ð½ÐµÑ† ÐºÐ°Ð¶Ð´Ð¾Ð¹ Ð½ÐµÐ´ÐµÐ»Ð¸. Ð”Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð¹ Ð´Ð°Ñ‚Ñ‹ ÐµÑÑ‚ÑŒ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð½Ð°Ð±Ð»ÑŽÐ´ÐµÐ½Ð¸Ð¹, Ð¾Ñ‚Ð»Ð¸Ñ‡Ð°ÑŽÑ‰Ð¸Ñ…ÑÑ Ð¿Ð¾ Ñ‚Ð¸Ð¿Ñƒ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ð¸ Ñ€ÐµÐ³Ð¸Ð¾Ð½Ñƒ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸. 

*PLU â€” ÐºÐ¾Ð´ Ñ‚Ð¾Ð²Ð°Ñ€Ð° (Product Lookup code)

Ð”Ð°Ð²Ð°Ð¹Ñ‚Ðµ Ð¿Ð¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð½Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ð² Ð´Ð²ÑƒÑ… Ð³Ð¾Ñ€Ð¾Ð´Ð°Ñ… (NewYork, LosAngeles) Ð¸ ÑƒÐ·Ð½Ð°ÐµÐ¼, ÑÐºÐ¾Ð»ÑŒÐºÐ¾ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ñ‚Ð¸Ð¿Ð° organic Ð±Ñ‹Ð»Ð¾ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð¾ Ð² Ñ†ÐµÐ»Ð¾Ð¼ Ðº ÐºÐ¾Ð½Ñ†Ñƒ ÐºÐ°Ð¶Ð´Ð¾Ð¹ Ð½ÐµÐ´ÐµÐ»Ð¸ (Ð½Ð°ÐºÐ¾Ð¿Ð¸Ñ‚ÐµÐ»ÑŒÐ½Ð°Ñ ÑÑƒÐ¼Ð¼Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶), Ð½Ð°Ñ‡Ð¸Ð½Ð°Ñ Ñ Ð½Ð°Ñ‡Ð°Ð»Ð° Ð¿ÐµÑ€Ð¸Ð¾Ð´Ð° Ð½Ð°Ð±Ð»ÑŽÐ´ÐµÐ½Ð¸Ð¹ (04/01/15). ÐŸÑ€Ð¸Ð¼ÐµÑ€ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð¸Ñ€ÑƒÑŽÑ‰ÐµÐ¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñ‹:

| region	| date | total_volume | volume |
|-----------|------|--------------|--------|
| NewYork | 04/01/15	| 17328.24 | 17328.24 | 
| NewYork | 11/01/15 | 14817.97 | 32146.21 |
| NewYork | 18/01/15 | 9204.78 | 41350.99 |

Ð—Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð²Ð½ÑƒÑ‚Ñ€Ð¸ Ð¾ÐºÐ½Ð° ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð¿Ð¾ Ð´Ð°Ñ‚Ðµ, Ð° ÑÐ°Ð¼Ñƒ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ñƒ Ð¾Ñ‚ÑÐ¾Ñ€Ñ‚Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ð¿Ð¾ ÑƒÐ±Ñ‹Ð²Ð°Ð½Ð¸ÑŽ Ñ€ÐµÐ³Ð¸Ð¾Ð½Ð° (ÑÐ½Ð°Ñ‡Ð°Ð»Ð° NY, Ð¿Ð¾Ñ‚Ð¾Ð¼ LA) Ð¸ Ð¿Ð¾ Ð²Ð¾Ð·Ñ€Ð°ÑÑ‚Ð°Ð½Ð¸ÑŽ Ð´Ð°Ñ‚Ñ‹.

Ð’ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ðµ Ð¾Ñ‚Ð²ÐµÑ‚Ð° ÑƒÐºÐ°Ð¶Ð¸Ñ‚Ðµ Ð¾Ð±ÑŠÐµÐ¼ Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð² ÐÑŒÑŽ Ð™Ð¾Ñ€ÐºÐµ Ð½Ð° 01/03/15 (Ð±ÐµÐ· Ð·Ð°Ð¿ÑÑ‚Ñ‹Ñ…).

ÐŸÑ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ:
```
SELECT 
    region, 
    date, 
    total_volume, 
    SUM(total_volume) OVER w AS volume
FROM 
    avocado 
WHERE 
    region IN ('NewYork', 'LosAngeles') AND type='organic'
WINDOW w AS (
    PARTITION BY region
    ORDER BY date ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
)
ORDER BY 
    region DESC, 
    date
```
ÐžÑ‚Ð²ÐµÑ‚:
```
165402.96
```

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 7
___
Ð¢ÐµÐ¿ÐµÑ€ÑŒ Ð´Ð¾Ð±Ð°Ð²ÑŒÑ‚Ðµ Ñ€Ð°Ð·Ð±Ð¸ÐµÐ½Ð¸Ðµ Ð¿Ð¾ ÐºÐ°Ð¶Ð´Ð¾Ð¼Ñƒ Ð³Ð¾Ð´Ñƒ (year). Ð¢Ð°ÐºÐ¸Ð¼ Ð¾Ð±Ñ€Ð°Ð·Ð¾Ð¼, Ð² ÐºÐ¾Ð½Ñ†Ðµ Ñ„ÐµÐ²Ñ€Ð°Ð»Ñ 2016 Ð³Ð¾Ð´Ð° Ð¾Ð±ÑŠÐµÐ¼ ÑÐ¾ÑÑ‚Ð°Ð²Ð¸Ñ‚ ÑƒÐ¶Ðµ Ð½Ðµ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸ Ð·Ð° 2015 Ð¸ ÑÐ½Ð²Ð°Ñ€ÑŒ-Ñ„ÐµÐ²Ñ€Ð°Ð»ÑŒ 2016, Ð° Ñ‚Ð¾Ð»ÑŒÐºÐ¾ ÑÐ½Ð²Ð°Ñ€ÑŒ-Ñ„ÐµÐ²Ñ€Ð°Ð»ÑŒ 2016.

ÐšÐ¾Ð³Ð´Ð° Ð¾Ð±ÑŠÐµÐ¼Ñ‹ Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¾Ñ€Ð³Ð°Ð½Ð¸Ñ‡ÐµÑÐºÐ¸Ñ… Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ð² ÐÑŒÑŽ-Ð™Ð¾Ñ€ÐºÐµ Ð¿Ñ€ÐµÐ²Ñ‹ÑÐ¸Ð»Ð¸ Ð¾Ð±ÑŠÐµÐ¼Ñ‹ Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð² Ð›Ð¾Ñ-ÐÐ½Ð´Ð¶ÐµÐ»ÐµÑÐµ?

Ð”Ð»Ñ Ñ€ÐµÑˆÐµÐ½Ð¸Ñ Ð·Ð°Ð´Ð°Ñ‡Ð¸ Ð¿Ð¾ÑÑ‚Ñ€Ð¾Ð¹Ñ‚Ðµ Ð³Ñ€Ð°Ñ„Ð¸Ðº Ð¾Ð±ÑŠÐµÐ¼Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð² Ð´Ð²ÑƒÑ… Ð³Ð¾Ñ€Ð¾Ð´Ð°Ñ…, Ð³Ð´Ðµ Ð¿Ð¾ Ð¾ÑÐ¸ X Ð±ÑƒÐ´ÐµÑ‚ Ð»ÐµÐ¶Ð°Ñ‚ÑŒ Ð´Ð°Ñ‚Ð°.

ÐŸÑ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ:
```
SELECT 
    region, 
    date, 
    total_volume, 
    SUM(total_volume) OVER w AS volume
FROM 
    avocado 
WHERE 
    region IN ('NewYork', 'LosAngeles') AND type='organic'
WINDOW w AS (
    PARTITION BY region, year
    ORDER BY date ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
)
ORDER BY 
    region DESC, 
    date
```
ÐžÑ‚Ð²ÐµÑ‚:
```
Ð’ Ñ„ÐµÐ²Ñ€Ð°Ð»Ðµ 2018
```

[ÑÑÑ‹Ð»ÐºÐ° Ð½ Ð°Ð³Ñ€Ð°Ñ„Ð¸Ðº](http://redash.lab.karpov.courses/embed/query/7556/visualization/15947?api_key=0fotT4mminx1whC4h1CactKTucbJ9D6lpidJejRY&)
![](https://ucarecdn.com/f45cc8bc-1b56-45c1-a07e-55dfa24fd226/)

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 8
___
ÐŸÐ¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼, ÐºÐ¾Ð³Ð´Ð° Ð¾Ð±ÑŠÐµÐ¼Ñ‹ Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¾Ð±Ñ‹Ñ‡Ð½Ñ‹Ñ… (`conventional`) Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ñ€ÐµÐ·ÐºÐ¾ Ð¿Ð°Ð´Ð°Ð»Ð¸ Ð¿Ð¾ ÑÑ€Ð°Ð²Ð½ÐµÐ½Ð¸ÑŽ Ñ Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰ÐµÐ¹ Ð½ÐµÐ´ÐµÐ»ÐµÐ¹. Ð’Ð¾Ð·ÑŒÐ¼Ð¸Ñ‚Ðµ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð¿Ð¾ Ð¡Ð¨Ð Ð² Ñ†ÐµÐ»Ð¾Ð¼, Ð¿Ð¾ÑÑ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ Ñ€Ð°Ð·Ð½Ð¸Ñ†Ñƒ Ð¼ÐµÐ¶Ð´Ñƒ Ð¾Ð±ÑŠÐµÐ¼Ð¾Ð¼ Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð² Ð½ÐµÐ´ÐµÐ»ÑŽ x (`total_volume`) Ð¸ ÐºÐ¾Ð»Ð¸Ñ‡ÐµÑÑ‚Ð²Ð¾Ð¼ Ð¿Ñ€Ð¾Ð´Ð°Ð½Ð½Ñ‹Ñ… Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ð² Ñ‚ÐµÑ‡ÐµÐ½Ð¸Ðµ Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰ÐµÐ¹ Ð½ÐµÐ´ÐµÐ»Ð¸. Ð—Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð·Ð°Ð¿Ð¸ÑˆÐ¸Ñ‚Ðµ Ð² Ð½Ð¾Ð²Ñ‹Ð¹ ÑÑ‚Ð¾Ð»Ð±ÐµÑ† `week_diff`.

+ `type` â€“ Ñ‚Ð¸Ð¿ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ (conventional)
+ `region` â€“ Ñ€ÐµÐ³Ð¸Ð¾Ð½ (TotalUS)
+ `total_volume` â€“ Ð¾Ð±ÑŠÐµÐ¼ Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð·Ð° Ð½ÐµÐ´ÐµÐ»ÑŽ

ÐŸÑ€Ð¸Ð¼ÐµÑ€:

| date | total_volume | region | type | week_diff | 
|------|--------------|--------|------|-----------|
| 04/01/15 | 31,324,277.73 | TotalUS | conventional |  |
|11/01/15 | 29,063,542.75 | TotalUS | conventional | -2,260,734.98 |

Ð’Ð¸Ð·ÑƒÐ°Ð»Ð¸Ð·Ð¸Ñ€ÑƒÐ¹Ñ‚Ðµ Ñ€ÐµÐ·ÑƒÐ»ÑŒÑ‚Ð°Ñ‚, Ð³Ð´Ðµ Ð¿Ð¾ Ð¾ÑÐ¸ x Ð±ÑƒÐ´ÐµÑ‚ Ñ€Ð°ÑÐ¿Ð¾Ð»Ð¾Ð¶ÐµÐ½Ð° Ð´Ð°Ñ‚Ð°, Ð° Ð¿Ð¾ Ð¾ÑÐ¸ y â€“Ñ€Ð°Ð·Ð½Ð¸Ñ†Ð° Ð¼ÐµÐ¶Ð´Ñƒ Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð°Ð¼Ð¸ Ð² x 
t
â€‹
  Ð¸ x 
tâˆ’1
â€‹
 . Ð’Ñ‹Ð±ÐµÑ€Ð¸Ñ‚Ðµ Ð²ÐµÑ€Ð½Ñ‹Ðµ ÑƒÑ‚Ð²ÐµÑ€Ð¶Ð´ÐµÐ½Ð¸Ñ.

ÐŸÑ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ:
```
SELECT 
    date, 
    total_volume, 
    region, 
    total_volume - LAG(total_volume, 1) over w as week_diff
FROM 
    avocado 
WHERE 
    region = 'TotalUS' AND type='conventional'
WINDOW w AS (
    ORDER BY date ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
)
ORDER BY  date
```
ÐžÑ‚Ð²ÐµÑ‚:
```
Ð¡Ð°Ð¼Ð¾Ðµ ÐºÑ€ÑƒÐ¿Ð½Ð¾Ðµ Ð¿Ð°Ð´ÐµÐ½Ð¸Ðµ Ð¾Ð±ÑŠÐµÐ¼Ð¾Ð² Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð¿Ð¾ ÑÑ€Ð°Ð²Ð½ÐµÐ½Ð¸ÑŽ Ñ Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰ÐµÐ¹ Ð½ÐµÐ´ÐµÐ»ÐµÐ¹ Ð¿Ñ€Ð¾Ð¸Ð·Ð¾ÑˆÐ»Ð¾ 12 Ñ„ÐµÐ²Ñ€Ð°Ð»Ñ 2017 Ð³Ð¾Ð´Ð°
Ð¡Ð°Ð¼Ñ‹Ðµ Ð±Ð¾Ð»ÑŒÑˆÐ¸Ðµ Ð¿Ð°Ð´ÐµÐ½Ð¸Ñ Ð¾Ð±ÑŠÐµÐ¼Ð¾Ð² Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ð¿Ñ€Ð¾Ð¸ÑÑ…Ð¾Ð´Ð¸Ð»Ð¸ Ð² Ñ„ÐµÐ²Ñ€Ð°Ð»Ðµ
```

[ÑÑÑ‹Ð»ÐºÐ° Ð½Ð° Ð³Ñ€Ð°Ñ„Ð¸Ðº](http://redash.lab.karpov.courses/embed/query/7558/visualization/15951?api_key=ThUtTUv8yQBqc6p68NyDwZVG4Pyimcie1ms8spyV&)
![](https://ucarecdn.com/8ca774db-2a38-478b-a05b-309d2a148ec9/)

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 9
___
ÐŸÐ¾ÑÐ¼Ð¾Ñ‚Ñ€Ð¸Ð¼ Ð±Ð¾Ð»ÐµÐµ Ð¿Ð¾Ð´Ñ€Ð¾Ð±Ð½Ð¾ Ð½Ð° Ð¾Ð±ÑŠÐµÐ¼Ñ‹ Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ð² ÐÑŒÑŽ-Ð™Ð¾Ñ€ÐºÐµ (NewYork) Ð² 2018 Ð³Ð¾Ð´Ñƒ. Ð¡Ð¾Ð·Ð´Ð°Ð¹Ñ‚Ðµ ÐºÐ¾Ð»Ð¾Ð½ÐºÑƒ Ñ Ñ€Ð°Ð·Ð½Ð¸Ñ†ÐµÐ¹ Ð¾Ð±ÑŠÐµÐ¼Ð¾Ð² Ð¿Ñ€Ð¾Ð´Ð°Ð¶ Ð·Ð° Ð½ÐµÐ´ÐµÐ»ÑŽ Ð¸ Ð·Ð° Ð½ÐµÐ´ÐµÐ»ÑŽ Ð´Ð¾ ÑÑ‚Ð¾Ð³Ð¾ Ð´Ð»Ñ ÐºÐ°Ð¶Ð´Ð¾Ð³Ð¾ Ñ‚Ð¸Ð¿Ð° Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾. ÐÐ°Ð¹Ð´Ð¸Ñ‚Ðµ Ð´ÐµÐ½ÑŒ, ÐºÐ¾Ð³Ð´Ð° Ð¿Ñ€Ð¾Ð´Ð°Ð¶Ð¸ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ñ‚Ð¸Ð¿Ð° organic ÑƒÐ²ÐµÐ»Ð¸Ñ‡Ð¸Ð»Ð¸ÑÑŒ Ð¿Ð¾ ÑÑ€Ð°Ð²Ð½ÐµÐ½Ð¸ÑŽ Ñ Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰ÐµÐ¹ Ð½ÐµÐ´ÐµÐ»ÐµÐ¹, Ð° conventional â€“ Ð½Ð°Ð¾Ð±Ð¾Ñ€Ð¾Ñ‚ ÑƒÐ¿Ð°Ð»Ð¸. Ð•ÑÐ»Ð¸ Ñ‚Ð°ÐºÐ¸Ñ… Ð´Ð½ÐµÐ¹ Ð½ÐµÑÐºÐ¾Ð»ÑŒÐºÐ¾, Ñ‚Ð¾ ÑƒÐºÐ°Ð¶Ð¸Ñ‚Ðµ Ð¸Ñ… Ñ‡ÐµÑ€ÐµÐ· Ð·Ð°Ð¿ÑÑ‚ÑƒÑŽ Ñ Ð¿Ñ€Ð¾Ð±ÐµÐ»Ð¾Ð¼, Ñ„Ð¾Ñ€Ð¼Ð°Ñ‚ â€“ 31/12/2020.

ÐŸÑ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ:
```
SELECT 
    type,
    date, 
    total_volume - LAG(total_volume, 1) over w as week_diff
FROM 
    avocado 
WHERE 
    region = 'NewYork' and year = 2018
WINDOW w AS (
    PARTITION BY type
    ORDER BY date ASC
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
)
ORDER BY  
    type,
    date
```
ÐžÑ‚Ð²ÐµÑ‚:
```
18/02/2018, 18/03/2018
```

[](http://redash.lab.karpov.courses/embed/query/7560/visualization/15955?api_key=CXDGl9ejELnvkuD6f3KnLDV7mVYDsHCp4gepnptB&)
![](https://ucarecdn.com/dc48a9f0-f0b2-4afb-be1f-db63947a31dc/)

# Ð—Ð°Ð´Ð°Ð½Ð¸Ðµ 10
___
Ð¢ÐµÐ¿ÐµÑ€ÑŒ Ð¿Ð¾ÑÑ‡Ð¸Ñ‚Ð°Ð¹Ñ‚Ðµ ÑÐºÐ¾Ð»ÑŒÐ·ÑÑ‰ÐµÐµ ÑÑ€ÐµÐ´Ð½ÐµÐµ Ñ†ÐµÐ½Ñ‹ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ (`average_price`) Ð² ÐÑŒÑŽ-Ð™Ð¾Ñ€ÐºÐµ Ñ Ñ€Ð°Ð·Ð±Ð¸Ð²ÐºÐ¾Ð¹ Ð¿Ð¾ Ñ‚Ð¸Ð¿Ñƒ Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾. Ð’ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ðµ Ð¾ÐºÐ½Ð° Ð¸ÑÐ¿Ð¾Ð»ÑŒÐ·ÑƒÐ¹Ñ‚Ðµ Ñ‚ÐµÐºÑƒÑ‰ÑƒÑŽ Ð½ÐµÐ´ÐµÐ»ÑŽ Ð¸ Ð¿Ñ€ÐµÐ´Ñ‹Ð´ÑƒÑ‰Ð¸Ðµ Ð´Ð²Ðµ (Ð¾Ð±Ñ€Ð°Ñ‚Ð¸Ñ‚Ðµ Ð²Ð½Ð¸Ð¼Ð°Ð½Ð¸Ðµ, Ñ‡Ñ‚Ð¾ Ð² Ð´Ð°Ð½Ð½Ð¾Ð¹ Ñ‚Ð°Ð±Ð»Ð¸Ñ†Ðµ Ð² ÑÑ‚Ñ€Ð¾ÐºÐ°Ñ… ÑÐ¾Ð´ÐµÑ€Ð¶Ð°Ñ‚ÑÑ Ð´Ð°Ð½Ð½Ñ‹Ðµ Ð·Ð° Ð½ÐµÐ´ÐµÐ»ÑŽ, Ð° Ð½Ðµ Ð·Ð° Ð¾Ð´Ð¸Ð½ Ð´ÐµÐ½ÑŒ). ÐÐ°Ð¿Ñ€Ð¸Ð¼ÐµÑ€ 04/01/15, 11/01/15 Ð¸ 18/01/15 Ð´Ð»Ñ Ð¿Ð¾Ð´ÑÑ‡ÐµÑ‚Ð° Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ñ Ð´Ð»Ñ 18/01/15.

| date | verage_price | region | type | rolling_price |
|------|--------------|--------|------|---------------|
| 04/01/15 | 1.09 | NewYork | conventional | 1.09 |
| 11/01/15 | 1.34 | NewYork | conventional | 1.22 |
| 18/01/15 | 1.37 | NewYork | conventional | 1.27 |
| 25/01/15 | 1.36 | NewYork | conventional | 1.36 |

Ð’ ÐºÐ°Ñ‡ÐµÑÑ‚Ð²Ðµ Ð¾Ñ‚Ð²ÐµÑ‚Ð° ÑƒÐºÐ°Ð¶Ð¸Ñ‚Ðµ Ð¿Ð¾Ð»ÑƒÑ‡ÐµÐ½Ð½Ð¾Ðµ Ð·Ð½Ð°Ñ‡ÐµÐ½Ð¸Ðµ Ð´Ð»Ñ Ð¾Ð±Ñ‹Ñ‡Ð½Ñ‹Ñ… (conventional) Ð°Ð²Ð¾ÐºÐ°Ð´Ð¾ Ð·Ð° 17/04/16.

ÐŸÑ€Ð°Ð²Ð¸Ð»ÑŒÐ½Ñ‹Ð¹ Ð·Ð°Ð¿Ñ€Ð¾Ñ:
```
SELECT 
    type,
    date, 
    average_price,
    avg(average_price) over w as rolling_price
FROM 
    avocado 
WHERE 
    region = 'NewYork'
WINDOW w AS (
    PARTITION BY type
    ORDER BY date ASC
    ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
)
ORDER BY  
    type,
    date
```
ÐžÑ‚Ð²ÐµÑ‚:
```
1.16
```

[ÑÑÑ‹Ð»ÐºÐ° Ð½Ð° Ð³Ñ€Ð°Ñ„Ð¸Ðº](http://redash.lab.karpov.courses/embed/query/7562/visualization/15958?api_key=8HO8XAfKdqF0k6y1dOthixpBCSrErkLPV9cup2HH&)
![](https://ucarecdn.com/586a2dc7-331f-4022-99fb-91e4bdf5a7a5/)